$font-stack: "IBM Plex Mono", sans-serif;
$primary-color: #333;
$size: 2rem;

body {
  font: 100% $font-stack;
  color: $primary-color;
  font-size: $size;
  text-align: center;
}

@mixin margin($margin: 100px) {
  margin-left: 10px;
}

p::after {
  content: "";
  border-radius: 5px;
  border: 1px solid #111;
}

p.subiu::after {
  content: "⬆";
  margin-left: margin;
}

p.desceu::after {
  content: "⬇";
  margin-left: margin;
}

p.manteve::after {
  content: "➤";
  margin-left: margin;
}
